@import url('setup.css');
@import url('colors.css');
@import url('breakpoints.css');
@import url('override.css');

html{
    position: absolute !important; 
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important; 
    overflow-y: auto !important;
    width: 100vw !important;
    height: 100vh !important;
}
@media (max-width: 768px){
    .responsive_font{
        font-size: 120% !important;
    }
}
@media (min-width: 768px){
    .responsive_font{
        font-size: 140% !important;
    }
}

.w-90{
    width: 90% !important;
}
.h-90{
    height: 90% !important;
}

.w-fit{
    width: fit-content !important;
}


.h-max{
    height: max-content !important;
}

.bold{
    font-weight: bold !important;
}



.font-12{
    font-size: 1.2rem !important;
}

.border-radius-0{
    border-radius: 0 !important;
}

.text-wrap-balance{
    text-wrap: balance !important;
}