@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-blue: #033076;
    --faded-dark-blue: #869ec2;
    --white: #ffffff;
    --danger-red: #7a163c;
    --green: #54BB48;

    --font-family: 'Poppins', sans-serif;
    --font-size: 10px;

    font-size: var(--font-size) !important;
    font-family: var(--font-family) !important;

}

